h1{
font-size: 32px;
font-family: 'Lobster', cursive;
font-weight: 400;
color: rgb(46,105,163);
text-align: center;
}

h2{
font-size: 20px;
font-family: 'Lato', sans-serif;
color: rgb(46,105,163);
text-align: center;
}


.menu{
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.body_text{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.body_text_left{
  display: inline-block;
  text-align: left;
}

body {
  background-image url("https://lh3.googleusercontent.com/-nDmtohHyH1k/V4DIORs8C0I/AAAAAAAAACQ/AImaf8wuLVkjcRjmetfdkc68qi1lRG-LACKgB/s1000-fcrop64=1,00000870ffffe275/DSC_0690.JPG");
}



