h1{
font-size: 32px;
font-family: Gill Sans, sans-serif;
color: rgb(46,105,163);
text-align: center;
}

h2{
font-size: 20px;
font-family: Gill Sans, sans-serif;
color: rgb(46,105,163);
text-align: center;
}

p{
font-size: 14px;
font-family: Gill Sans, sans-serif;
text-align: center;
}
